<!DOCTYPE html>
<html>
<head>
    <title>编辑员工信息</title>
</head>

<body>
    <h1>编辑员工信息</h1>
    <form method="post">
        <div>
            <label for="name">姓名：</label>
            <input type="text" id="name" name="name" value="{{ user['name'] }}">
        </div>

        <div>
            <label for="password">密码：</label>
            <input type="text" id="password" name="password" value="{{ user['password'] }}">
        </div>

        <div>
            <label for="mobile">电话：</label>
            <input type="text" id="mobile" name="mobile" value="{{ user['mobile'] }}">
        </div>

        <button type="submit">保存</button>
    </form>

</body>

</html>