<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/do/ref" method="post" enctype="multipart/form-data">
    <div>
        <div>
            <input type="file" name="files"/>
        </div>

        <div>
            姓名：<input type="text" placeholder="输入您的姓名" name="user" /><br>
            密码：<input type="password" placeholder="输入您的密码" name="pwd" />
        </div>
        <div>
            性别：
            男：<input type="radio" name="gender" value="1">
            女：<input type="radio" name="gender" value="2">
        </div>
                <div>
            性别：
            男：<input type="radio" name="gender" value="1">
            女：<input type="radio" name="gender" value="2">
        </div>
        <div>
            角色：
            <select name="role">
                <option value="1">管理员</option>
                <option value="2">老师</option>
                <option value="3">学生</option>
            </select>
        </div>
        <div>
            篮球：<input type="checkbox" name="hobby" value="1"/>
            足球：<input type="checkbox" name="hobby" value="2"/>
            乒乓球：<input type="checkbox" name="hobby" value="3"/>
        </div>


        <div>
            <input type="submit" value="注册" />
        </div>
    </div>
</form>

</body>
</html>