<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>热搜！“招聘洗碗工”进一本院校，回应来了！</h1>
    <div>
        <div>
            <span style="color:red">作者：YZQ</span>
            <span>时间：2023-3-6</span>
            <br>
            <a href="https://baijiahao.baidu.com/s?id=1759605289264635819&wfr=spider&for=pc">点击查看详情</a>
            <br>
            <a target="_blank" href="https://baijiahao.baidu.com/s?id=1759605289264635819&wfr=spider&for=pc">点击查看详情，在新页面打开</a>
            <br>
            <div style="height:100px; width:100px">
                <img style="height:100%; width:100%" src="./static/tu1.png"/>
            </div>
            <a target="_blank" href="https://baijiahao.baidu.com/s?id=1759605289264635819&wfr=spider&for=pc">
                <img style="height:100px; width:100px" src="./static/tu1.png"/>
            </a>
        </div>
        <div>
            “一本”毕业，月薪2千？
            近日，河南郑州河南财经政法大学的一场招聘会引发网友关注。
            从视频中可看到，在该校招聘会上，有不少餐饮公司、酒店在招聘服务员、凉菜师傅、行李员、洗碗工等，比如“服务员”薪资待遇为3000至3999元，“收银员”薪资待遇为2000至2999元……薪资最低的仅2000元。
        </div>
    </div>

    <h1>热搜！“招聘洗碗工”进一本院校，回应来了！</h1>
    <div>
        <div>
            <span style="color:red">作者：YZQ</span>
            <span>时间：2023-3-6</span>
            <br>
            <a target="_blank" href="http://127.0.0.1:5000/test2#i2">点击查看详情，在新页面打开</a>
        </div>
        <div>
            “一本”毕业，月薪2千？
            近日，河南郑州河南财经政法大学的一场招聘会引发网友关注。
            从视频中可看到，在该校招聘会上，有不少餐饮公司、酒店在招聘服务员、凉菜师傅、行李员、洗碗工等，比如“服务员”薪资待遇为3000至3999元，“收银员”薪资待遇为2000至2999元……薪资最低的仅2000元。
        </div>
    </div>

    <div>
        <div>
            <a href="https://baijiahao.baidu.com/s?id=1759605289264635819&wfr=spider&for=pc">
                <h4>热搜！“招聘洗碗工”进一本院校，回应来了！</h4>
            </a>
        </div>
        <div>
            <img src="./static/tu1.png" style="height:100px; width:100px">
            <span>
                本科一批录取普通类文科最低550分，高出一本省控线23分；理科最低547分，高出一本省控线38分。
                以会计学（注册会计师方向）为例，文科录取最低分为563分；理科录取最低分为567分。
            </span>
        </div>
    </div>
        <div>
        <div>
            <a href="https://baijiahao.baidu.com/s?id=1759605289264635819&wfr=spider&for=pc">
                <h4>热搜！“招聘洗碗工”进一本院校，回应来了！</h4>
            </a>
        </div>
        <div>
            <img src="./static/tu1.png" style="height:100px; width:100px">
            <span>
                本科一批录取普通类文科最低550分，高出一本省控线23分；理科最低547分，高出一本省控线38分。
                以会计学（注册会计师方向）为例，文科录取最低分为563分；理科录取最低分为567分。
            </span>
        </div>
    </div>
        <div>
        <div>
            <a href="https://baijiahao.baidu.com/s?id=1759605289264635819&wfr=spider&for=pc">
                <h4>热搜！“招聘洗碗工”进一本院校，回应来了！</h4>
            </a>
        </div>
        <div>
            <img src="./static/tu1.png" style="height:100px; width:100px">
            <span>
                本科一批录取普通类文科最低550分，高出一本省控线23分；理科最低547分，高出一本省控线38分。
                以会计学（注册会计师方向）为例，文科录取最低分为563分；理科录取最低分为567分。
            </span>
        </div>
    </div>

    <div>
        <ul>
            <li>这是第一个</li>
            <li>这是第二个</li>
            <li>这是第三个</li>
        </ul>
        <ol>
            <li>这是第一个</li>
            <li>这是第二个</li>
            <li>这是第三个</li>
        </ol>
    </div>

    <div>
        <table border="1px" cellspacing="" cellpadding="">
            <tr>
                <th>ID</th>
                <th>图片</th>
                <th>标题</th>
                <th>价格</th>
                <th>查看详细</th>
                <th>操作</th>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img src="/static/tu1.png" style="height:80px"/>
                </td>
                <td>最新上市小米手机</td>
                <td>1999</td>
                <td>
                    <a href="https://www.mi.com/mi12s-ultra">查看详细</a>
                </td>
                <td>
                    <a href="https://www.mi.com/mi12s-ultra">编辑</a>
                    <a href="https://www.mi.com/mi12s-ultra">删除</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <img src="/static/tu1.png" style="height:80px"/>
                </td>
                <td>最新上市小米手机</td>
                <td>1999</td>
                <td>
                    <a href="https://www.mi.com/mi12s-ultra">查看详细</a>
                </td>
                <td>
                    <a href="https://www.mi.com/mi12s-ultra">编辑</a>
                    <a href="https://www.mi.com/mi12s-ultra">删除</a>
                </td>
            </tr>
        </table>
    </div>
    <hr>

    <!--input-->
    男：<input type="radio" checked="checked" name="n1" />
    女：<input type="radio" name="n1" />
    <br>

    1：<input type="checkbox" />
    2：<input type="checkbox" />
    3：<input type="checkbox" />
    <br>

    <input type="button" value="按钮"/>
    <input type="submit" value="提交"/>
    <br>

    <select>
        <option>选项1</option>
        <option>选项2</option>
        <option>选项3</option>
    </select>
    <br>

    <textarea rows="2" cols="6"></textarea>

    <h3>用户注册</h3>
    <div>
        姓名：<input type="text" placeholder="请输入您的姓名～"/><br>
        密码：<input type="text" />
    </div>

</div>

<h1 style="color:red" onclick="alert('yyyyy')">北京分公司</h1>
<a href="#">北京公司</a>
<br>
团队名称：{{ name }}
<br>
时间：{{ date }}
</body>
</html>